*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #faf8e6;  /* ...beigeClaro... */
}
header{
    box-sizing: border-box;  /* ...Asegura que el padding no afecte al ancho total... */
    background-color: #543319;  /* ...marronOscuro... */
    width: 100%;
    display: flex;  /* ...Activa Flexbox... */
    justify-content: space-between; /* ...Separa los elementos a los extremos... */
    align-items: center;  /* ...Centra los elementos verticalmente... */
    padding: 1rem 2rem;  /* ...Espaciado interno opcional... */
}
footer{
    background-color: #543319;  /* ...marronOscuro... */
}
h1 {
    color: #faf8e6;  /* ...beigeClaro... */
    font-family: "Space Grotesk", sans-serif;
}
.posicionIzq{
    width: 47.5%;
    margin-right: auto;
}
.posicionDer{
    width: 47.5%;
    margin-left: auto;
}
h2 {
    color: #543319;  /* ...marronOscuro... */
    font-family: "Space Grotesk", sans-serif;
    padding: 0.5rem 0rem 0.5rem 1.5rem;
    font-size: xxx-large;
}
p{
    font-family: Inter, sans-serif;
    font-size: x-large;
}
.precioIzq{
    color: #543319;  /* ...marronOscuro...*/
    padding: 0.5rem 1.5rem 0.5rem 0rem;
    text-align: start;
}
.precioDer{
    color: #543319;  /* ...marronOscuro...*/
    padding: 0.5rem 1.5rem 0.5rem 0rem;
    text-align: end;
}
.descripcionProductos{
    color: #4a4a4a;  /* ...grisOscuro...*/
    padding: 0.5rem 0rem 0.5rem 1.5rem;
}
ul{
    list-style: none;  /* ...Eliminar viñetas... */
}
img{
    width: 90%;
    height: auto;
    border-radius: 1.2rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
}
div > h2{
    color: #faf8e6;  /* ...beigeClaro...*/
    font-size: xx-large;
}
nav{
    display: flex;  /* ...Activa Flexbox... */
    gap: 1.5rem; /* ...Ajusta el espacio entre los enlaces... */
}
a{
    text-decoration: none;
    color: #faf8e6;  /* ...beigeClaro... */
    font-family: "IBM Plex Mono", monospace;
}
.sectionPie > div{
    display: flex;  /* ...Activa Flexbox... */
    gap: 1.5rem; /* ...Ajusta el espacio entre los enlaces... */
    align-items: center; /* ...Centra los elementos verticalmente... */
}
.sectionPie{
    display:flex;
    justify-content: space-between;
    padding: 1rem 2rem;  /* ...Espaciado interno... */
}